[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
gradio = "*"
chromadb = "*"
python-dotenv = "*"
sentence-transformers = "*"
ipywidgets = "*"
llama-cpp-python = "==0.1.77"
pymupdf = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
